%h1 Build the Inspector html from JS

<div id="jshub-inspector-container"></div>

%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x
%p x

=javascript_script_tag("/javascripts/inspector.js")
