!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta(http-equiv="content-type" content="text/html; charset=utf-8")
    %meta(name="keywords" content="")
    %meta(name="description" content="")

    %title jsHub Tag Inspector

    / 
      Debug console
      =javascript_script_tag('/javascripts/debug/debug.js')

    / 
      jQuery for effects
      =javascript_script_tag('/javascripts/jquery/jquery.js')
      =javascript_script_tag('/javascripts/jquery/jquery-ui-1.7.2.custom.js', '/javascripts/jquery/ui.core.js')
      =javascript_script_tag('/javascripts/jquery/ui.accordion.js')
      =stylesheet_link_tag('/stylesheets/jquery/ui.all.css')

    / Stylesheets
    =stylesheet_link_tag('/stylesheets/inspector.css')

  %body
    =yield